html {
    overflow-x: hidden;
    overflow-y: auto;
}

html,
body {
    font-family: 'Inter';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #000 0%, #020414 15%, #020414 85%, #000 100%);
}

#app {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background: linear-gradient(to bottom, #000 0%, #020414 15%, #020414 85%, #000 100%);
}

.no-margin {
    margin: 0;
}

.fs--50 {
    font-size: 50px;
}

.fs--40 {
    font-size: 40px;
}

.fs--25 {
    font-size: 25px;
}

.fs--20 {
    font-size: 20px;
}

.fs--15 {
    font-size: 15px;
}

.fs--12 {
    font-size: 12px;
}

.fw--900 {
    font-weight: 900
}

.fw--700 {
    font-weight: 700
}

.fw--400 {
    font-weight: 400
}

.fw--100 {
    font-weight: 100
}

.blur-circle {
    position: absolute;
    border-radius: 50%;
    filter: var(--blur);
    --blur: blur(225px);
    width: 1000px;
    height: 300px;
}


.blue-circle {
    background-color: #0500FF;
}

.green-circle {
    background-color: #00FF85;
}

@media (min-width: 1600px) {

}

@media (min-width: 1400px) and (max-width: 1599px) {
    .blur-circle {
        width: 60%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .blur-circle {
        width: 60%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .blur-circle {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .blur-circle {
        width: 50%;
    }
}

@media (min-width: 651px) and (max-width: 767px) {
    .blur-circle {
        width: 50%;
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    .blur-circle {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .blur-circle {
        width: 100%;
    }
}